{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Moje trasy</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
             <ul class="nav-links">
                <li><a href="{% url 'my_routes' %}" class="nav-btn">My Routes</a></li>
                <li><a href="{% url 'create_route' %}" class="nav-btn">Create a new route</a></li>
                <li><a href="{% url 'logout' %}" class="nav-btn">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="nav-links">
                <li><a href="{% url 'login' %}" class="nav-btn">Log In</a></li>
                <li><a href="{% url 'register' %}" class="nav-btn">Register</a></li>
            </ul>
        {% endif %}
    </nav>

    <div class="container">
        <h1>Welcome to route creation platform!</h1>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}! Enjoy creating and managing your routes.</p>
        {% else %}
            <p>Please, <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to get started.</p>
        {% endif %}
    </div>
</body>
</html>
